.main-painel.contato
  position relative
  display block
  width 100%
  padding 40px 0 140px 0
  background-color white

  .container
    position relative
    display block

  .bg-bl
    position absolute
    display block
    top -20px
    left 0px
    z-index 10

  h2
    margin: -10px 0 20px 0
    padding: 0px
    text-align: center
    color: #383838
    font-size: 24px
    line-height 23px
    text-transform uppercase

  .table-base
    position relative
    display block
    width 100%
    max-width 770px
    margin 0 auto
    box-sizing border-box
    background #f4f4f4
    border-radius 5px
    padding 70px 80px 70px 80px
    margin-top 39px
    z-index 100

    form
      position relative
      display block
      width 100%

      label
        font-size 16px
        text-transform uppercase
        display block
        width 100%
        margin-bottom 2px
        color #383838
        font-weight 700

      .password-label
        column(1/1)

      .password
        column(1/1)
        border 2px solid #e3e3e3
        font-size 14px
        padding 0 24px
        border-radius 5px
        height 50px
        box-sizing border-box
        margin-bottom 30px

        &:focus,
        &:hover
          outline none
          border-color #40cead

      input[type="submit"]
        width 100%
        max-width 300px
        text-align center
        margin-top 20px
        border none
        border 2px solid orange
        float none
        margin 20px auto 0 auto
