.fale-conosco
  .pro-con
    position relative
    display block
    width 100%
    height 345px
    background-color #185fb7
    padding: 40px 0 0 0;

    h2
      margin: 0px
      padding: 0px
      text-align: center
      color: #fff
      font-size: 24px
      line-height 23px
      text-transform uppercase
      margin-bottom: 54px;

    .right
      column(1/2)
      float right

      span
        display block
        color #ffffff
        font-size 24px
        line-height 24px
        margin-bottom 25px

      p
        display block
        color #ffffff
        font-size 14px
        line-height 18px
        margin-bottom 20px
        max-width 350px

      .btn-green
        margin-top 40px
        border 3px solid transparent !important

        &:hover
          background green !important
          color: white !important
          border 3px solid white !important

  .talk-us img
    margin-top: 20px;

  .chat-us img
    margin-top: 17px;

  .face-us img
    margin-top: 10px;

  .talk-us,
  .chat-us,
  .face-us
    position: relative;
    display: block;
    column(1/3)
    border-radius: 5px;
    background-color: #fff;
    padding: 50px 50px 0 50px;
    height: 190px;
    box-sizing: border-box;
    clearfix()

    .cover
      position: relative;
      display: block;
      height: 140px;
      text-align: left;
      float: left;
      span(1/3)

    .touch
      position: relative;
      display: block;
      float: right;
      span(2/3)
      clearfix()

      .btn-orange,
      .btn-blue,
      .btn-facebook
        float: right;
        width: 100%;

      p
        font-size: 13px;
        color: #383838;
        margin-bottom: 0px;

      .chat-status
        position: absolute;
        display: table;
        right: 0px;
        bottom: -20px;
        margin: 0px;
        padding-right: 13px;
        color: #666666;
        font-size: 13px;
        line-height: 11px;

        &:before
          position: absolute;
          content:'';
          width: 8px;
          height: 8px;
          border-radius: 100%;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);

      .chat-status.online:before
        background: #92ed3e;

      .chat-status.ausente:before
        background: #ffc834;

      .chat-status.ocupado:before
        background: #f89898;

      .chat-status.offline:before
        background: #d1d1d1;


#faq
  position: relative;
  display: block;
  padding-top: 40px;

  h3
    font-size: 24px;
    color: #383838;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;

  p
    font-size: 14px;
    color: #383838;
    line-height: 14px;
    margin: 0px;
    text-align: center;
    font-weight: 400;

  ul
    position: relative;
    display: block;
    list-style: none;
    margin-top: 40px;
    span(1/2)
    clearfix()

    li
      width: 90%;
      list-style: none;
      margin-bottom: 20px;
      transition: all ease .5s;

      &:nth-child(even)
        margin-right: 0px;

      .title
        position: relative;
        display: block;
        padding-left: 50px;
        font-weight: 800;
        color: #004f8f;
        margin-bottom: 14px;
        cursor: pointer;
        box-sizing: border-box;
        border-bottom: 2px solid #e3e3e3;
        padding-bottom: 14px;
        transition: all ease .5s;

        &:hover
          color: #0071fd;

        &:before
          position: absolute;
          display: block;
          left: 0px;
          top: -4px;
          content: "+";
          color: #999999;
          text-align: center;
          width: 50px;
          font-size: 20px;
          line-height: 28px;


      .content
        position: relative;
        display: block;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: all ease .5s;

        p
          font-size: 13px;
          text-align: left;
          padding: 14px;
          margin: 0px;
          line-height: 18px;
          border-radius: 5px;
          border: 2px solid #e3e3e3;
          box-sizing: border-box;


    li.active

      .title
        border: none;

        &:before
          content: "-";
          font-size: 30px;

      .content
        height: auto;
