.main-painel.invite-friend
  position relative
  display block
  width 100%
  padding 40px 0 140px 0
  background-color #185fb7
  margin-bottom -80px

  .container
    position relative
    display block

  .bg-bl
    position absolute
    display block
    top -20px
    left 0px
    z-index 10

  h2
    margin: 0px
    padding: 0px
    text-align: center
    color: #fff
    font-size: 24px
    line-height 23px
    text-transform uppercase

  h3
    position relative
    display block
    width 100%
    margin: 0px
    padding: 0px
    text-align: center
    font-size: 16px
    line-height 16px
    text-transform uppercase

  .desc
    margin: 15px 0 40px 0
    padding: 0px
    text-align: center
    font-size: 14px
    line-height 14px

  .table-base
    position relative
    display block
    width 100%
    max-width 770px
    margin 0 auto
    box-sizing border-box
    background #fff
    border-radius 5px
    padding 70px 80px 70px 80px
    margin-top 39px
    z-index 100

    .btn-orange,
    .btn-gray
      column(1/2)
      margin-top 0px
      box-sizing: border-box
      text-align: center

    form
      position relative
      display block
      width 100%
      padding-bottom 20px
      border-bottom 1px solid #e3e3e3
      margin-bottom 20px

      .email
        column(6/10)
        border 2px solid #e3e3e3
        font-size 14px
        padding 0 24px
        border-radius 5px
        height 50px
        box-sizing border-box

        &:focus,
        &:hover
          outline none
          border-color #40cead

      input[type="submit"]
        column(4/10)
        border 2px solid #e3e3e3
        font-size 14px
        padding 0 24px
        border-radius 5px
        height 50px
        box-sizing border-box
        border: 2px solid orange
        text-align: center

    .cpy-ref
      position relative
      display block
      width 100%
      margin-bottom 40px

      .cpy-ref
        column(6/10)
        border 2px solid #f4f4f4
        font-size 14px
        padding 0 24px
        border-radius 5px
        height 50px
        box-sizing border-box
        background: #f4f4f4

      button
        column(4/10)
        border 2px solid #e3e3e3
        font-size 14px
        padding 0 24px
        border-radius 5px
        height 50px
        box-sizing border-box
        border: 2px solid orange
        text-align: center
        padding 0px


    #invite-stats
      position relative
      display block
      width 100%
      margin 30px 0 0 0
      list-style none

      li
        column(1/4)
        font-size 16px
        text-align center
        line-height 16px

        span
          position relative
          display block
          font-size 48px
          color green
          line-height 48px
          margin-bottom 10px
          font-weight 700
