.main-painel.order-detail
  position relative
  display block
  width 100%
  padding 40px 0 140px 0
  background-color #185fb7
  margin-bottom -80px

  .container
    position relative
    display block

  .bg-bl
    position absolute
    display block
    top -20px
    left 0px
    z-index 10

  h2
    margin: 0px
    padding: 0px
    text-align: center
    color: #fff
    font-size: 24px
    line-height 23px
    text-transform uppercase

  .table-base
    position relative
    display block
    width 100%
    max-width 770px
    margin 0 auto
    box-sizing border-box
    background #fff
    border-radius 5px
    padding 70px 80px 35px 80px
    margin-top 39px
    z-index 100

    .btn-orange,
    .btn-gray
      column(1/2)
      margin-top 0px
      box-sizing: border-box
      text-align: center

    #detail-list
      position relative
      display table
      margin 30px auto 80px auto
      list-style none

      li
        margin-bottom 15px
        font-size 14px

        span
          font-size 16px
          font-weight 700
