// ====================================================================
// Colors
// Adicione as cores do tema.
// ====================================================================

//  -------------------------------------------------------------------
//  Global
//  -------------------------------------------------------------------
body-color    = #383838
body-bg-color = #ffffff
orange        = #ff9000
blue          = #004f8f
gray          = #666666
green         = #25c7a2
red           = #e93a3a
yellow        = #ffef62
lgreen        = #63fce9
