.main-painel.login-area
  position relative
  display block
  width 100%
  padding 40px 0 140px 0
  background-color #185fb7
  margin-bottom -80px

  .container
    position relative
    display block

  .bg-bl
    position absolute
    display block
    top -20px
    left 0px
    z-index 10

  h2
    margin: 0px
    padding: 0px
    text-align: center
    color: #fff
    font-size: 24px
    line-height 23px
    text-transform uppercase

  h3
    position relative
    display block
    width 100%
    margin: 0px
    padding: 0px
    text-align: center
    font-size: 16px
    line-height 16px
    text-transform uppercase

  .desc
    margin: 15px 0 40px 0
    padding: 0px
    text-align: center
    font-size: 14px
    line-height 14px

  .table-base
    position relative
    display block
    width 100%
    max-width 770px
    margin 0 auto
    box-sizing border-box
    background #fff
    border-radius 5px
    padding 70px 80px 70px 80px
    margin-top 39px
    z-index 100

    .btn-orange,
    .btn-gray
      column(1/2)
      margin-top 0px
      box-sizing: border-box
      text-align: center

    form
      position relative
      display block
      width 100%

      label
        column(1/1)
        font-weight 700
        margin-bottom 2px

      .email,
      .password
        column(1/1)
        border 2px solid #e3e3e3
        font-size 14px
        padding 0 15px
        border-radius 5px
        height 50px
        box-sizing border-box
        color #383838

        &:focus,
        &:hover
          outline none
          border-color #40cead

      .email
        margin-bottom 20px

      a
        position relative
        display block
        float right
        color #999999
        font-weight 700
        font-size 13px
        text-decoration none
        margin-top 4px

        &:hover
          color: #0071fd;

      input[type="submit"]
        width 100%
        max-width 230px
        border 2px solid orange
        font-size 14px
        padding 0
        border-radius 5px
        height 50px
        box-sizing border-box
        text-align center
        float none
        margin 30px auto 0 auto

      p
        color #666666
        font-size 14px
        text-align center
        margin 40px 0 0 0

        span
          font-weight 700
          cursor: pointer;

          &:hover
            color: #0071fd;


















































.main-painel.client-area
  position relative
  display block
  width 100%
  padding 40px 0 140px 0
  background-color #185fb7
  margin-bottom -80px

  .container
    position relative
    display block

  .bg-bl
    position absolute
    display block
    top -20px
    left 0px
    z-index 10

  h2
    margin: 0px
    padding: 0px
    text-align: center
    color: #fff
    font-size: 24px
    line-height 23px
    text-transform uppercase
    margin-bottom 35px

  h3
    position relative
    display block
    width 100%
    margin: 0px
    padding: 0px
    text-align: center
    font-size: 16px
    line-height 16px
    text-transform uppercase

  .table-base
    position relative
    display block
    width 100%
    max-width 770px
    margin 0 auto
    box-sizing border-box
    background #fff
    border-radius 5px
    padding 35px 0px
    margin-top 20px
    z-index 100
    margin-bottom 20px

    .cover
      column(3/10)
      position relative
      text-align center
      display block
      min-height 109px

      img
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)

    .content
      column(4/10)

      p
        color #666666
        font-size 14px

      .title
        position relative
        display block
        width 100%
        margin: 0px
        padding: 0px
        text-align: left
        font-size: 16px
        line-height 16px
        text-transform uppercase
        font-weight bold
        margin-bottom 15px

      .email
        margin-bottom 20px
        border 2px solid #f4f4f4
        font-size 14px
        padding 0 15px
        border-radius 5px
        height 50px
        box-sizing border-box
        background: #f4f4f4
        width 80%

      .left
        column(1/2)
        font-size 14px
        text-transform uppercase

        span
          display block
          font-weight 700

      .right
        column(1/2)
        font-size 14px
        text-transform uppercase
        margin-right 0px

        span
          display block
          font-weight 700

      .btn-blue
        position relative
        display table
        padding 6px 5px
        color #fff
        font-size 13px
        width 100%
        max-width 200px
        margin-top 10px

    .btn-section
      column(3/10)
      position relative
      text-align center
      display block
      min-height 109px

      .btn-green,
      .btn-orange
        position absolute !important
        top 50% !important
        right 50px !important
        transform translateY(-50%) !important

    .btn-orange,
    .btn-gray
      column(1/2)
      margin-top 0px
      box-sizing border-box
      text-align center
      color #fff
      font-size 14px
      box-sizing: border-box

    form
      position relative
      display block
      width 100%

      label
        column(1/1)
        font-weight 700
        margin-bottom 2px

      .email,
      .password
        column(1/1)
        border 2px solid #e3e3e3
        font-size 14px
        padding 0 15px
        border-radius 5px
        height 50px
        box-sizing border-box
        color #383838

        &:focus,
        &:hover
          outline none
          border-color #40cead

      a
        position relative
        display block
        float right
        color #999999
        font-weight 700
        font-size 13px
        text-decoration none
        margin-top 4px

      input[type="submit"]
        width 100%
        max-width 230px
        border 2px solid orange
        font-size 14px
        padding 0
        border-radius 5px
        height 50px
        box-sizing border-box
        text-align center
        float none
        margin 30px auto 0 auto

      p
        color #666666
        font-size 14px
        text-align center
        margin 40px 0 0 0

        span
          font-weight 700

.h2base
  position: relative;
  display: block;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;

  #visitor-lang
    width: 170px;
    display block
    position: absolute;
    right: 0px;
    top: 0px;

    span
      position: relative;
      display block
      height 30px
      border-radius 5px
      padding 5px
      width: 100%
      max-width 170px
      box-sizing: border-box;
      border 1px solid #e3e3e3
      background url("../img/down.jpg") #fff no-repeat center right 10px;
      z-index: 9999
      cursor pointer
      font-size 12px
      color #666666
      padding 7px 0 10px 10px
      line-height: 12px

      img
        margin-right 10px
        margin-top 1px
        float left

      ul
        position: absolute;
        display block
        height auto
        border-radius 0px 0px 5px 5px
        padding 5px 0px
        width: 100%
        min-width 170px
        box-sizing: border-box;
        border-left 1px solid #e3e3e3
        border-right 1px solid #e3e3e3
        border-bottom 1px solid #e3e3e3
        background #fff
        z-index: 9999
        display none
        list-style: none
        top 100%
        left -1px

        li
          cursor pointer
          font-size 12px
          color #666666
          padding 10px 5px 10px 15px
          transition: all ease .5s;

          &:hover
            background: #f4f4f4;

      &:hover
        border-bottom 0px
        border-radius 5px 5px 0px 0px

      &:hover > ul
        display block !important
