#footer
  position relative
  display block
  width 100%
  background #fff
  border-top 2px solid #f4f4f4
  margin-top 80px
  padding-top 50px
  padding-bottom 50px

  .logo-base
    column(3/12)

    .logo
      margin 0px
      background url("../img/logo-header.png") no-repeat top left
      background-size contain
      height 38px
      width 164px

      a
        display block
        width 100%
        text-indent -9999px

    span
      position relative
      display block
      margin-top 40px
      color #999999
      font-size 13px

  .menu-base
    column(6/12)

    ul
      position relative
      display block
      width 100%
      list-style none

      li
        column(1/3)

        span
          position relative
          display block
          width 100%
          text-transform uppercase
          font-weight 700
          color #999999
          font-size 14px
          line-height 14px

        ul
          position relative
          display block
          width 100%
          list-style none
          margin-top 16px

          li
            position relative
            display block
            width 100%

            a
              font-size 13px
              color blue
              text-decoration none

              &:hover
                color #0071fd

              img
                margin-right 10px




  .payments-base
    column(2/12)

    span
      position relative
      display block
      width 100%
      text-transform uppercase
      font-weight 700
      color #999999
      font-size 14px
      line-height 14px
      margin-bottom 16px
