// ====================================================================
// Helpers
// ====================================================================

.show
  display block

.hide
  display none

.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.center-block
  margin 0 auto
  display block

.img-responsive
  max-width 100%

*
  &:after
  &:before
    box-sizing border-box

.container
  width 100%
  max-width container-width
  margin 0 auto
  position relative

.clearfix
  &:before
  &:after
    content ""
    display table
    clear both

ul,
.container
  &:before
  &:after
    content ""
    display table
    clear both


.select-hidden
  display: none;
  visibility: hidden;
  padding-right: 10px;

$background = #fff;
$select-color = #fff;
$select-background = #fff;
$select-width = 170px;
$select-height = 30px;

.select
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  margin 0 auto 17px auto
  text-align center
  font-size 14px
  padding 8px 0px
  border-radius 5px
  background #f4f4f4
  height: 26px


.select-styled
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 9px;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  border 1px solid #e3e3e3
  @include transition(all 0.2s ease-in);

  &:after
    content:"";
    width: 10px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: url("../img/home_54.png") no-repeat top right;
    background-size: contain;

  &:hover
    background-color: darken($select-background, 2);

  &:active,
  &.active
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;

    &:after
      background: url("../img/home_55.png") no-repeat top right;
      background-size: contain;

.select-options
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px
  border-left 1px solid #e3e3e3
  border-right 1px solid #e3e3e3
  border-bottom 1px solid #e3e3e3

  li
    margin: 0;
    padding: 8px 9px;
    @include transition(all 0.15s ease-in);
    font-size: 14px;
    line-height: 20px;
    color: #666666
    text-align: left;

    &:hover
      color: #666666;
      background: #f4f4f4;

    &[rel="hide"]
      display: none;
